<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.samir.universitybazaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.UniversityBazaar">
        android:requestLegacyExternalStorage="true">
        <activity android:name=".Activity.pay.PayActivity"></activity>
        <activity android:name=".Activity.Search.SearchClubsActivity"></activity>
        <activity android:name=".Activity.Search.SearchPostsActivity" />
        <activity android:name=".Activity.Messages.MessageHomeActivity" />
        <activity android:name=".Activity.Messages.NewMessageActivity" />
        <activity android:name=".Activity.Messages.InboxMessageActivity" />
        <activity android:name=".Activity.Messages.MessageTypeActivity" />
        <activity android:name=".Activity.Messages.InboxActivity" />
        <activity android:name=".Activity.Messages.SearchMemberActivity" />
        <activity android:name=".Activity.Messages.SelectClubActivity" />
        <activity android:name=".Activity.Messages.SentMessagesActivity" />
        <activity android:name=".Activity.Messages.SentMessageDetailsActivity" />
        <activity android:name=".Activity.Loan.LoanDetailActivity" />
        <activity android:name=".Activity.Loan.MyLoanItemListActivity" />
        <activity android:name=".Activity.Loan.LoanItemActivity" />
        <activity android:name=".Activity.Loan.EditLoanActivity" />
        <activity android:name=".Activity.Sale.ItemDetailActivity" />
        <activity android:name=".Activity.Sale.SellDetailActivity" />
        <activity android:name=".Activity.Sale.EditSaleActivity" />
        <activity android:name=".Activity.Sale.MySaleItemListActivity" />
        <activity android:name=".Activity.Sale.SellItemActivity" />
        <activity android:name=".Activity.Posts.EditPostActivity" />
        <activity android:name=".Activity.Clubs.CommentOnNoticeActivity" />
        <activity android:name=".Activity.Clubs.ClubPostActivity" />
        <activity android:name=".Activity.Clubs.NoticeActivity" />
        <activity android:name=".Activity.Clubs.ClubPostsActivity" />
        <activity android:name=".Activity.Clubs.ClubNoticesActivity" />
        <activity android:name=".Activity.Clubs.PostInClubActivity" />
        <activity android:name=".Activity.Clubs.CreateClubNoticeActivity" />
        <activity android:name=".Activity.Clubs.ClubActivity" />
        <activity android:name=".Activity.Clubs.MySubscriptionsActivity" />
        <activity android:name=".Activity.Clubs.MyClubsActivity" />
        <activity android:name=".Activity.Clubs.CreateClubActivity" />
        <activity android:name=".Activity.Clubs.EditClubActivity" />
        <activity android:name=".Activity.Posts.PostActivity" />
        <activity android:name=".Activity.Posts.MyPostsActivity" />
        <activity android:name=".Activity.Posts.CreatePostActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.Posts.CommentActivity" />
        <activity android:name=".Activity.Posts.CommentReplyActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Activity.Avatar.AvatarActivity" />
        <activity android:name=".Activity.Avatar.AvatarChangeActivity" />
        <activity android:name=".Activity.Profile.ViewProfileActivity" />
        <activity android:name=".Activity.Profile.EditProfileActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".Authentication.Reset1Activity" />
        <activity android:name=".Authentication.Reset2Activity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>