<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.samir.universitybazaar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityBazaar">
        <activity android:name=".Activity.CreateClubNoticeActivity"></activity>
        <activity android:name=".Activity.ClubActivity" />
        <activity android:name=".Activity.MySubscriptionsActivity" />
        <activity android:name=".Activity.MyClubsActivity" />
        <activity android:name=".Activity.CreateClubActivity" />
        <activity android:name=".Activity.PostActivity" />
        <activity android:name=".Activity.MyPostsActivity" />
        <activity android:name=".Activity.CreatePostActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Profile.AvatarActivity" />
        <activity android:name=".Profile.AvatarChangeActivity" />
        <activity android:name=".Profile.ViewProfileActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".Authentication.Reset1Activity" />
        <activity android:name=".Authentication.Reset2Activity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>